body {
  background: #eee;
  padding: 54px 0;
}
.container {
  max-width: 1130px;
  width: 100%;
  margin: 0 auto;
}

/* header */
h1 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 13px;
}
.btn-wrap {
  float: right;
  margin-bottom: 16px;
}
.btn-wrap button {
  padding: 5px 24px;
  background: #fff;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.05);
}
.btn-wrap .btn-green {
  margin-right: 8px;
  color: #69d1a2;
}
.btn-wrap .btn-red {
  color: #ed7470;
}

/* main */
#main {
  clear: both;
}
.box-wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 55px;
}
.box {
  position: relative;
  width: 340px;
  height: 410px;
  background: #fff;
  border-radius: 10px;
  margin-bottom: 40px;
}
.box .box-top {
  position: relative;
  height: 90px;
  padding: 30px 20px;
  border-bottom: 1px solid #e7e7e7;
}
.box .box-top h3 {
}
.box .box-top label {
  display: none;
}
.box .box-top input {
  font-size: 22px;
  font-weight: bold;
  color: #000;
  padding: 0;
}
.box .box-top .date {
  display: block;
  font-size: 14px;
  color: #ccc;
}
.box .box-top em {
  position: absolute;
  bottom: 18px;
  font-size: 12px;
  font-weight: bold;
  color: #69d1a2;
}
.box .box-top em span {
}

.box .box-bottom {
  height: 203px;
  padding: 26px 20px 30px 20px;
}
/* 스크롤바 설정*/
.box .box-bottom ul::-webkit-scrollbar {
  width: 6px;
}

/* 스크롤바 막대 설정*/
.box .box-bottom ul::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}

/* 스크롤바 뒷 배경 설정*/
.box .box-bottom ul::-webkit-scrollbar-track {
  background-color: rgb(243, 243, 243);
  border-radius: 10px;
}

.box .box-bottom ul {
  width: 100%;
  height: 100%;
  overflow-y: auto;

}
.box .box-bottom .show-bttom {
  height: 66%;
}
.box .box-bottom ul li {
  position: relative;
  margin-bottom: 14px;
}
.box .box-bottom ul li .list-area {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.box .box-bottom ul li .circle {
  position: relative;
  width: 24px;
  height: 24px;
  border: 1px solid #ccc;
  border-radius: 50%;
  margin-right: 14px;
}
.box .box-bottom ul li .circle.click {
  border: 1px solid #69d1a2;
}
.box .box-bottom ul li .check {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.box .box-bottom ul li .content {
  width: 70%;
}
.box .box-bottom ul li .content.click {
  color: #ccc;
}
.box .box-bottom ul li .trash-btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}
.box .box-bottom ul li .trash {
}
.box .plus {
  /* display: inline-block; */
  position: absolute;
  bottom: -24px;
  left: 50%;
  transform: translate(-50%, 0);
  background: url(img/plus.svg) no-repeat center;
  width: 48px;
  height: 48px;
  cursor: pointer;
}
.box .plus.cancel {
  background: url(img/cancel.svg) no-repeat center;
}
.box button img {
}

.box .list-input {
  display: none;
}
.box .list-input.show {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 90px;
  background: #f5f5f5;
  border-radius: 0 0 10px 10px;
}
.box .list-input label {
  display: none;
}
.box .list-input input {
  margin: 16px auto;
}

@media (max-width: 1240px) {
  .container {
    max-width: 740px;
  }
  .box-wrap {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 60px;
  }
}

@media (max-width: 800px) {
  .container {
    max-width: 690px;
  }
  .box-wrap {
    grid-gap: 10px;
  }
}

@media (max-width: 720px) {
  body {
    padding: 0 15px;
  }
  h1 {
    margin-bottom: 48px;
  }
  .btn-wrap {
    margin-bottom: 50px;
  }
  .btn-wrap button {
    padding: 8px 40px;
    font-size: 26px;
  }
  .box-wrap {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0;
    /* margin: 0 15px; */
  }
  .box {
    width: 100%;
    height: auto;
  }
  .box .box-top {
    position: relative;
    height: 90px;
    padding: 30px 20px;
    border-bottom: none;
  }
  .box .box-bottom {
    display: none;
    height: auto;
  }
  .pl-can {
    display: none;
  }
}

@media (max-width: 480px) {
  .btn-wrap button {
    padding: 6px 34px;
    font-size: 22px;
  }
}
